/*

0-600px ---Phone

600-900px ---Tablet portrait

900-1200px ---Tablet landscape

1200-1800px ---Desktop

1800-Infinite ---Big Desktop

    -phone
    -tab-port
    -tab-land
    -big-desktop

Please use em units instead of pixels/rem. 
They always point to the browser default font size.
*/
@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Bold.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
  size-adjust: 180%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }
  @media only screen and (min-width: 112.5em) {
    :root {
      font-size: 75%; } }
  @media only screen and (max-width: 90em) {
    :root {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    :root {
      font-size: 56.25%; } }
  @media only screen and (max-width: 64em) {
    :root {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    :root {
      font-size: 50%; } }
  @media only screen and (max-width: 48em) {
    :root {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    :root {
      font-size: 56.25%; } }

body {
  box-sizing: border-box;
  font-family: 'Morganite'; }
  body > * {
    position: relative; }

[class^="section"] {
  position: relative; }

footer.footer {
  position: relative; }

.wrapper {
  max-width: 140rem;
  margin: 0 auto; }

.heading-primary {
  text-transform: uppercase;
  color: #232427;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 6px;
  font-size: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 5rem; } }

.h-1 {
  color: #232427;
  display: inline-block;
  font-weight: bold;
  font-size: 6.1rem;
  text-transform: uppercase;
  letter-spacing: 10px; }
  @media only screen and (max-width: 75em) {
    .h-1 {
      font-size: 5rem;
      letter-spacing: 6px; } }

.h-2 {
  display: inline-block;
  font-weight: 600;
  font-size: 8rem;
  text-transform: uppercase; }

.h-3 {
  display: inline-block;
  font-weight: bold;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 4px; }

.h-4 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  font-weight: bold; }

.text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase; }
  .text--top, .text--main {
    display: inline-block; }
  .text--top {
    color: #fa492d;
    font-size: 1.2rem;
    letter-spacing: 3.6px;
    padding-bottom: .1rem;
    font-weight: normal; }
  .text--main {
    color: #FFF7E1;
    font-size: 2.4rem;
    letter-spacing: 3.6px;
    font-weight: bold; }

.text-normal {
  display: inline-block; }
  .text-normal--title {
    display: inline-block;
    width: 100%;
    font-weight: 600;
    letter-spacing: 6px;
    padding-bottom: 1rem;
    font-size: 5rem;
    text-transform: uppercase; }
  .text-normal--description {
    display: inline-block;
    font-family: 'Helvetica';
    text-transform: none;
    line-height: 150%;
    font-size: 1.8rem;
    max-width: 70rem;
    margin: 0 auto; }

.text-blog__row {
  display: block; }
  .text-blog__row:not(:last-child) {
    margin-bottom: 3rem; }

.text-testimonial .text-title {
  font-family: 'helvetica';
  font-size: 2.2rem;
  font-weight: 400; }

.text-testimonial .text-client {
  font-size: 6.1rem;
  letter-spacing: 4px;
  padding-bottom: 1rem; }

.text-testimonial .text-description {
  font-family: 'helvetica';
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.8rem;
  padding-bottom: 2rem;
  line-height: 148%; }

.u-center-text {
  text-align: center !important; }

.u-left-text {
  text-align: start !important; }

.u-width-medium {
  width: 30rem !important; }

.u-text-block {
  display: block !important; }

.u-section-title {
  padding: 5rem !important; }

.u-left-padding-zero {
  padding-left: 0 !important; }

.u-padding-top-med {
  padding-top: 5rem !important; }

.u-padding-bottom-sm {
  padding-bottom: 5rem !important; }

.u-padding-bottom-med {
  padding-bottom: 15rem !important; }

.u-padding-top-btm-med {
  padding: 5rem 0 !important; }

.u-padding-top-btm-lg {
  padding: 15rem 0 !important; }

.u-padding-min {
  padding: 1rem !important; }

.u-ff-helvetica {
  font-family: 'helvetica' !important;
  letter-spacing: 1px !important;
  font-weight: 400 !important;
  font-size: 1.8rem !important; }

.u-center-div {
  margin: 0 auto !important; }

.u-mw-130 {
  max-width: 130rem !important; }

.u-mw-80 {
  max-width: 80rem !important; }

.u-inherit-background {
  background-color: inherit !important; }

.u-round-edges {
  border-radius: 20px; }

.u-content-layer {
  position: relative !important;
  z-index: 20; }

.u-flex-column {
  display: flex;
  flex-direction: column; }
  .u-flex-column--center {
    justify-content: center;
    align-items: center; }

.u-image-cover-top-mh50 {
  display: inline-block;
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
  object-position: top; }

.u-margin-top {
  margin-top: 5rem !important; }

.u-margin-top-mid {
  margin-top: 10rem !important; }

@keyframes spin {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.header {
  overflow-x: hidden;
  overflow-y: clip;
  background-color: #FFF7E1;
  position: relative;
  padding-bottom: 15rem; }
  .header__background {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20rem; }
    .header__background--tablet, .header__background--phone {
      display: none;
      visibility: hidden;
      width: 100%; }
    @media only screen and (max-width: 90em) {
      .header__background {
        padding-top: 0rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__background--big {
        display: none;
        visibility: hidden; }
      .header__background--tablet {
        display: block;
        visibility: visible; } }
    @media only screen and (max-width: 37.5em) {
      .header__background--tablet {
        display: none;
        visibility: hidden; }
      .header__background--phone {
        visibility: visible;
        display: block;
        height: 70rem;
        width: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%); } }
  .header__logo-wave {
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-wave {
        height: 30rem; } }
    @media only screen and (max-width: 75em) {
      .header__logo-wave {
        height: 35rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo-wave {
        height: 28rem; } }
  .header__overflow-container {
    overflow: hidden; }
  .header__green-wave {
    height: auto;
    width: 100%;
    transform: translateY(7%); }
    .header__green-wave--container {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0; }
  .header__content {
    padding-top: 4rem;
    position: relative; }
    @media only screen and (max-width: 75em) {
      .header__content {
        padding-top: 2rem; } }
  .header__main {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 7rem 0;
    justify-content: space-around;
    max-width: 114rem; }
    @media only screen and (max-width: 90em) {
      .header__main {
        padding: 1rem 0;
        justify-content: space-between; } }
    @media only screen and (max-width: 56.25em) {
      .header__main {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    @media only screen and (max-width: 75em) {
      .header__main {
        margin-top: 3rem; } }
  .header__text-box {
    display: flex;
    align-items: center;
    max-width: 38rem; }
    @media only screen and (max-width: 90em) {
      .header__text-box {
        margin-left: 10rem; } }
    @media only screen and (max-width: 64em) {
      .header__text-box {
        margin-left: 22rem; } }
    @media only screen and (max-width: 75em) {
      .header__text-box {
        margin-left: 0;
        text-align: center;
        max-width: none;
        padding-bottom: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        padding-bottom: 2rem; } }
  .header .heading-primary {
    max-width: 20rem;
    padding-bottom: 3rem; }
    .header .heading-primary .u-text-break {
      display: none; }
    @media only screen and (max-width: 75em) {
      .header .heading-primary {
        max-width: none; }
        .header .heading-primary .u-text-break {
          display: block; } }
  .header__content-box .composition {
    margin: 0 auto;
    width: 54rem;
    margin-left: 15rem; }
    @media only screen and (max-width: 90em) {
      .header__content-box .composition {
        width: 60rem; } }
    @media only screen and (max-width: 75em) {
      .header__content-box .composition {
        margin-left: 0; } }
  .header__offerings {
    padding-top: 4rem;
    text-align: center; }
    @media only screen and (max-width: 90em) {
      .header__offerings {
        transform: translateY(2rem); } }
    @media only screen and (max-width: 75em) {
      .header__offerings {
        padding-bottom: 3rem;
        transform: translateY(5.5rem); } }
    @media only screen and (max-width: 64em) {
      .header__offerings {
        transform: translateY(8rem); } }
    @media only screen and (max-width: 56.25em) {
      .header__offerings {
        transform: none; } }
    @media only screen and (max-width: 37.5em) {
      .header__offerings {
        padding-top: 1rem; } }

.navigation__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 4rem; }

.navigation__link {
  transition: transform .2s;
  backface-visibility: hidden; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #232427;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.5px; }
  .navigation__link:hover {
    color: #fa492d;
    cursor: pointer; }

.footer {
  background-color: #FFF7E1;
  padding-top: 8rem; }
  .footer .background-layer__clip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    clip-path: polygon(100% 100%, 0% 100%, 0% 10%, 50% 0%, 100% 10%);
    background-color: #2f2c96; }
  .footer__wave {
    position: absolute; }
    .footer__wave--top {
      top: 0;
      left: 0;
      height: 40rem; }
      @media only screen and (max-width: 64em) {
        .footer__wave--top {
          height: 30rem; } }
      @media only screen and (max-width: 48em) {
        .footer__wave--top {
          height: 25rem; } }
    .footer__wave--bottom {
      bottom: 0;
      right: 0; }
      @media only screen and (max-width: 64em) {
        .footer__wave--bottom {
          height: 25rem; } }
      @media only screen and (max-width: 48em) {
        .footer__wave--bottom {
          height: 20rem; } }
  .footer-content {
    position: relative;
    z-index: 20;
    display: flex;
    padding: 10rem 0 10rem 0;
    justify-content: space-between; }
    @media only screen and (max-width: 48em) {
      .footer-content {
        padding: 6rem 0 8rem 0; } }
    .footer-content > * {
      flex-basis: calc(1/2*100%); }
  .footer__logo-box {
    text-align: right;
    padding-right: 4rem; }
    @media only screen and (max-width: 48em) {
      .footer__logo-box {
        padding-top: 2rem; } }
  .footer__logo {
    margin-right: 5rem; }
    @media only screen and (max-width: 48em) {
      .footer__logo {
        height: 6rem; } }
  .footer__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 1rem; }
    .footer__list--standalone {
      padding-left: 0; }
      .footer__list--standalone .footer__list-item:first-child {
        padding-left: 0; }
    .footer__list-section {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start; }
      .footer__list-section:not(:last-child) {
        margin-right: 5rem; }
    .footer__list-item {
      display: block;
      padding: 1rem .5rem; }
  .footer__link, .footer__text {
    color: #FFF7E1;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .footer__link {
    text-decoration: none; }
    .footer__link:hover {
      color: #fa492d; }
  .footer__button.footer__link {
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 0.6rem 3rem; }
  .footer__button:hover {
    color: #FFF7E1;
    background-color: #fa492d; }

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: inherit;
  margin: inherit; }
  .background-layer--low {
    z-index: 9; }

.content-layer {
  position: relative;
  z-index: 20; }

.section-projects {
  background-color: #FFF7E1;
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .section-projects__overflow-container {
    overflow: hidden; }
    .section-projects__overflow-container--wave {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      top: -10%; }
      @media only screen and (max-width: 75em) {
        .section-projects__overflow-container--wave {
          top: -15%; } }
  @media only screen and (max-width: 90em) {
    .section-projects__wave {
      width: 54rem; } }
  @media only screen and (max-width: 75em) {
    .section-projects__wave {
      width: 50rem; } }
  @media only screen and (max-width: 64em) {
    .section-projects__wave {
      width: 40rem; } }
  .section-projects .gallery {
    margin: 0 auto;
    padding-bottom: 7rem;
    width: 140rem; }
    @media only screen and (max-width: 90em) {
      .section-projects .gallery {
        width: 100rem; } }
    @media only screen and (max-width: 48em) {
      .section-projects .gallery {
        max-width: 90rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-projects .gallery {
        max-width: 60rem; } }
  .section-projects .gallery__item--1 {
    grid-column: start / col 3;
    grid-row: 1 / 7; }
  .section-projects .gallery__item--2 {
    grid-column: start / col 3;
    grid-row: 7 / 13; }
  .section-projects .gallery__item--3 {
    grid-column: col 3 / col 6;
    grid-row: 1 / 5; }
  .section-projects .gallery__item--4 {
    grid-column: col 3 / col 6;
    grid-row: 5 / 9; }
  .section-projects .gallery__item--5 {
    grid-column: col 3 / col 6;
    grid-row: 9 / 13; }
  .section-projects .gallery__item--6 {
    grid-column: col 6 / col 8;
    grid-row: 1 / 7; }
  .section-projects .gallery__item--7 {
    grid-column: col 6 / col 8;
    grid-row: 7 / 13; }
  @media only screen and (max-width: 37.5em) {
    .section-projects .gallery__item--1 {
      grid-column: col 1 / col 5;
      grid-row: 1 / 4; }
    .section-projects .gallery__item--2 {
      grid-column: col 5 / col 9;
      grid-row: 1 / 4; }
    .section-projects .gallery__item--3 {
      grid-column: start / end;
      grid-row: 4 / 6; }
    .section-projects .gallery__item--4 {
      grid-column: start / end;
      grid-row: 6 / 8; }
    .section-projects .gallery__item--5 {
      grid-column: start / end;
      grid-row: 8 / 10; }
    .section-projects .gallery__item--6 {
      grid-column: col 1 / col 5;
      grid-row: 10 / 13; }
    .section-projects .gallery__item--7 {
      grid-column: col 5 / col 9;
      grid-row: 10 / 13; } }
  .section-projects__button {
    transition: background-color .2s; }
    .section-projects__button.button {
      padding: 0.7rem 2.6rem; }
    .section-projects__button .button__text {
      font-size: 2rem;
      letter-spacing: 4px; }
    .section-projects__button:hover {
      background-color: #fa492d; }

.section-clients {
  padding: 1rem 1rem;
  background-color: #00A979;
  position: relative; }

.section-blog {
  background-color: #2f2c96;
  padding: 4rem 13rem 5rem 13rem;
  position: relative; }
  @media only screen and (max-width: 64em) {
    .section-blog {
      padding: 4rem 5rem 5rem 5rem; } }
  .section-blog__wave {
    position: absolute;
    top: 0;
    right: 0; }
  .section-blog__bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%); }
    @media only screen and (max-width: 37.5em) {
      .section-blog__bottom-wave {
        transform: translateY(100%) scale(1.9); } }
  .section-blog .h-3 {
    color: #FFF7E1; }
  .section-blog .content-items {
    padding-bottom: 6rem; }
  .section-blog__button {
    transition: background-color .2s; }
    .section-blog__button.button {
      padding: 0.7rem 2.6rem; }
    .section-blog__button .button__text {
      font-size: 2rem;
      letter-spacing: 4px; }
    .section-blog__button:hover {
      background-color: #fa492d; }

.section-form {
  background-color: #FFF7E1;
  padding: 16rem 0 0 0; }
  .section-form .form {
    max-width: 140rem;
    margin: -3rem auto 0 auto; }
    @media only screen and (max-width: 90em) {
      .section-form .form {
        max-width: 100rem; } }
    @media only screen and (max-width: 75em) {
      .section-form .form {
        max-width: 90rem; } }
    @media only screen and (max-width: 48em) {
      .section-form .form {
        max-width: 80rem; } }

.case-studies .header {
  padding-top: 5rem;
  padding-bottom: 0px; }

.study-content__main .paragraph__content {
  line-height: 160%; }

.section-brief {
  padding: 10rem 15rem;
  background-color: #FFF7E1; }

.section-testimonial {
  background-color: #FFF7E1;
  padding: 10rem 25rem; }

.section-separator {
  padding: 10rem 15rem;
  background-color: #FFF7E1; }

.section-case-study-gallery {
  background-color: #FFF7E1;
  padding: 0 10rem; }

.view-more-projects-section {
  position: relative;
  background-color: #00A979; }
  .view-more-projects-section__button {
    transition: background-color .2s; }
    .view-more-projects-section__button.button {
      padding: 0.7rem 2.6rem; }
    .view-more-projects-section__button .button__text {
      font-size: 2rem;
      letter-spacing: 4px; }
    .view-more-projects-section__button:hover {
      background-color: #2f2c96; }
  .view-more-projects-section__wave {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(99%); }

.portfolio .header {
  position: relative;
  background-color: #00A979;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.portfolio .section-portfolios {
  position: relative;
  padding: 20rem 15rem 0 15rem;
  background-color: #FFF7E1; }
  .portfolio .section-portfolios .zigzag-container {
    position: relative;
    z-index: 20; }
  .portfolio .section-portfolios__wave {
    position: absolute; }
    .portfolio .section-portfolios__wave--right {
      right: 0; }
    .portfolio .section-portfolios__wave--left {
      top: 45%;
      left: 0; }
    .portfolio .section-portfolios__wave--upper {
      top: 10%; }
    .portfolio .section-portfolios__wave--lower {
      top: 30%; }
  .portfolio .section-portfolios__button {
    transition: background-color .2s; }
    .portfolio .section-portfolios__button.button {
      padding: 0.7rem 2.6rem; }
    .portfolio .section-portfolios__button .button__text {
      font-size: 2rem;
      letter-spacing: 4px; }
    .portfolio .section-portfolios__button:hover {
      background-color: #2f2c96; }

.portfolio .section-clients {
  background-color: #2f2c96;
  padding: 2rem; }
  .portfolio .section-clients .notch-title {
    background-color: #2f2c96; }

.portfolio .section-form {
  padding-top: 0; }
  .portfolio .section-form__background-top-wave {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 6rem; }

.services__header-wave {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1; }

.services .header {
  position: relative;
  padding: 5rem 10rem 15rem 10rem;
  z-index: 20; }
  .services .header .navigation__link {
    color: #FFF; }
    .services .header .navigation__link:hover {
      color: #fa492d; }
  .services .header .menu {
    align-items: center; }

.services .section-services {
  background-color: #FFF7E1;
  padding-top: 3.7rem;
  padding-bottom: 20rem; }
  .services .section-services .logos {
    margin-top: 12rem;
    text-align: end; }
  .services .section-services .zigzag-container {
    padding-right: 8rem;
    padding-left: 12rem;
    margin-top: 9rem; }
    .services .section-services .zigzag-container__item-presentation {
      min-width: none; }
    .services .section-services .zigzag-container__item-description {
      min-width: 36%; }
    .services .section-services .zigzag-container .text-normal--description {
      max-width: none; }

.services .section-clients {
  background-color: #2f2c96; }
  .services .section-clients .notch-title {
    background-color: #2f2c96; }

.services .section-testimonials {
  background-color: #FFF7E1;
  padding: 8rem 0;
  padding-top: 16rem; }
  .services .section-testimonials .quote {
    max-width: 80rem;
    margin: 0 auto; }

.contact .header {
  background-color: #00A979;
  padding-top: 2rem;
  padding-bottom: 7rem;
  z-index: 20; }
  .contact .header .menu {
    align-items: center; }
  .contact .header .page-notch {
    padding: 2rem; }

.contact .section-form {
  position: relative; }
  .contact .section-form__wave-purple--top-right {
    position: absolute;
    top: -2%;
    right: 0;
    z-index: 10; }

.blog .header {
  background-color: #00A979;
  padding-top: 2rem;
  padding-bottom: 7rem; }
  .blog .header .menu {
    align-items: center; }

.blog .section-blog-description {
  background-color: #FFF7E1;
  padding: 20rem 0;
  overflow: hidden; }
  .blog .section-blog-description .paragraph:not(:last-child) {
    padding-bottom: 2rem; }
  .blog .section-blog-description__wave-top-left {
    position: absolute;
    top: -17%;
    left: 0; }
  .blog .section-blog-description__wave-bottom-right {
    position: absolute;
    bottom: -15%;
    right: 0; }

.blog .section-blog {
  position: relative;
  background-color: #00A979;
  padding-top: 15rem; }
  .blog .section-blog .content-items__decorative-text::before {
    border-bottom: 1px solid #2f2c96; }
  .blog .section-blog .content-items__text {
    color: #2f2c96; }
  .blog .section-blog .notch-title {
    border-radius: 20px; }

.blog .footer {
  background-color: #00A979; }

.testimonials .header {
  position: relative;
  background-color: #00A979;
  padding-top: 5rem;
  padding-bottom: 5rem; }

.testimonials .section-testimonials {
  position: relative;
  padding: 20rem;
  background-color: #FFF7E1;
  overflow: hidden; }
  .testimonials .section-testimonials__img {
    position: absolute;
    width: 30%; }
    .testimonials .section-testimonials__img--top-left {
      top: -2%;
      left: 0; }
    .testimonials .section-testimonials__img--bottom-right {
      top: 50%;
      right: 0;
      width: 40%; }

.testimonials .section-clients {
  background-color: #2f2c96;
  padding: 2rem; }
  .testimonials .section-clients .notch-title {
    background-color: #2f2c96; }

.testimonials .section-form {
  padding-top: 10rem; }
  .testimonials .section-form__background-top-wave {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: bottom;
    margin-bottom: 6rem; }

.button {
  border-radius: 50px;
  padding: 0.6rem 1.7rem;
  outline: none;
  border: none; }
  .button, .button__text {
    font-family: inherit;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600; }
  .button--green {
    text-transform: uppercase;
    background-color: #00A979;
    color: #FFF7E1; }
  .button--orange {
    text-transform: uppercase;
    background-color: #fa492d;
    color: #FFF7E1; }
  .button:hover {
    cursor: pointer; }
  .button--testimonial {
    font-size: 2.2rem;
    letter-spacing: 4px;
    padding: 0.7rem 2rem 0.7rem 2.4rem;
    width: auto;
    transition: background-color .2s; }
    .button--testimonial:hover {
      background-color: #2f2c96; }

.menu {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 145rem; }
  @media only screen and (max-width: 90em) {
    .menu {
      max-width: 130rem; } }
  @media only screen and (max-width: 75em) {
    .menu {
      max-width: 118rem; } }
  @media only screen and (max-width: 64em) {
    .menu {
      max-width: 100rem; } }
  @media only screen and (max-width: 48em) {
    .menu {
      max-width: 81rem; } }
  @media only screen and (max-width: 37.5em) {
    .menu {
      max-width: 56rem; } }
  @media only screen and (max-width: 75em) {
    .menu__logo-img {
      height: 7rem;
      width: auto; } }
  @media only screen and (max-width: 37.5em) {
    .menu__logo-img {
      height: 6rem; } }

.composition {
  position: relative;
  height: 48rem; }
  @media only screen and (max-width: 75em) {
    .composition {
      height: 54rem; } }
  @media only screen and (max-width: 37.5em) {
    .composition {
      height: 48rem; } }
  .composition:not(:hover) .composition__item--2 {
    transform: translateY(-5rem); }
    @media only screen and (max-width: 75em) {
      .composition:not(:hover) .composition__item--2 {
        transform: translate(-50%, -60%); } }
  .composition:hover .composition__item {
    filter: blur(1px); }
  .composition__item {
    display: inline-block;
    position: absolute;
    top: 10%;
    border-radius: 10rem;
    width: 18rem;
    height: 48rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35rem;
    transition: transform .3s, filter .2s; }
    @media only screen and (max-width: 90em) {
      .composition__item {
        width: 17rem;
        height: 44rem; } }
    @media only screen and (max-width: 75em) {
      .composition__item {
        width: 20rem;
        height: 52rem; } }
    @media only screen and (max-width: 37.5em) {
      .composition__item {
        width: 16rem;
        height: 44rem; } }
    .composition__item:hover {
      z-index: 30;
      transform: translateY(-5rem) scale(1.1);
      filter: blur(0px) !important; }
    .composition__item--1 {
      left: 1rem;
      background-image: linear-gradient(to top, rgba(47, 44, 150, 0.534) 100%, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.466) 60%, transparent), url("../img/covers/pp.png"); }
      .composition__item--1:hover {
        background-image: url("../img/covers/pp.png"); }
        @media only screen and (max-width: 75em) {
          .composition__item--1:hover {
            transform: translate(-130%, -50%) scale(1.1); } }
      @media only screen and (max-width: 90em) {
        .composition__item--1 {
          left: 3rem; } }
      @media only screen and (max-width: 75em) {
        .composition__item--1 {
          top: 50%;
          left: 50%;
          transform: translate(-130%, -50%); } }
    .composition__item--2 {
      left: 17rem;
      background-image: linear-gradient(to top, rgba(47, 44, 150, 0.534) 100%, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.466) 60%, transparent), url("../img/covers/pp.png"); }
      .composition__item--2:hover {
        background-image: url("../img/covers/pp.png"); }
        @media only screen and (max-width: 75em) {
          .composition__item--2:hover {
            transform: translate(-50%, -50%) scale(1.1); } }
      @media only screen and (max-width: 75em) {
        .composition__item--2 {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); } }
    .composition__item--3 {
      left: 33rem;
      background-image: linear-gradient(to top, rgba(47, 44, 150, 0.534) 100%, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.466) 60%, transparent), url("../img/covers/pp.png"); }
      .composition__item--3:hover {
        background-image: url("../img/covers/pp.png"); }
        @media only screen and (max-width: 75em) {
          .composition__item--3:hover {
            transform: translate(30%, -50%) scale(1.1); } }
      @media only screen and (max-width: 90em) {
        .composition__item--3 {
          left: 31rem; } }
      @media only screen and (max-width: 75em) {
        .composition__item--3 {
          top: 50%;
          left: 50%;
          transform: translate(30%, -50%); } }
  .composition__image-title {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg); }
  .composition__item:hover .composition__image-title {
    opacity: 0;
    visibility: hidden; }

.offerings {
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
  list-style-type: none; }
  @media only screen and (max-width: 37.5em) {
    .offerings {
      flex-direction: column;
      align-items: center; } }
  .offerings__link {
    text-decoration: none;
    color: inherit;
    font-size: 2.4rem;
    letter-spacing: 1.5px; }
  .offerings__item {
    display: inline-block;
    padding: 0rem 1rem; }
    .offerings__item-description {
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #FFF7E1; }
    .offerings__item-icon {
      display: inline-block;
      padding-right: .8rem; }
    .offerings__item:not(:last-child) {
      border-right: 1px solid #FFF7E1; }
      @media only screen and (max-width: 37.5em) {
        .offerings__item:not(:last-child) {
          border-right: 1px solid transparent;
          margin-bottom: 1rem; } }
    .offerings__item > * {
      vertical-align: middle; }
    .offerings__item:hover {
      cursor: pointer; }
    .offerings__item:hover:not(:last-child) {
      border-right: 1px solid #2f2c96; }
    .offerings__item:hover .offerings__item-description {
      color: #2f2c96; }

.gallery {
  display: grid;
  grid-template-columns: [start] repeat(7, [col] 1fr [col]) [end];
  grid-template-rows: repeat(12, 3rem);
  grid-row-gap: 4.5rem;
  grid-column-gap: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: [start] repeat(8, [col] 1fr [col]) [end];
      grid-template-rows: repeat(12, 12rem); } }
  .gallery__item {
    position: relative; }
  .gallery__description {
    padding-top: .5rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: #2f2c96;
    font-weight: bold;
    letter-spacing: 2px; }
  .gallery__image {
    object-fit: cover;
    width: 97%;
    height: 95%;
    display: block;
    transform-origin: bottom;
    transition: transform .3s;
    filter: drop-shadow(0 1px 0.4rem #232427); }
    .gallery__image:hover {
      transform: scale(1.04); }
  .gallery__button {
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translateX(10%);
    transition: background-color .2s; }
    .gallery__button:hover {
      background-color: #2f2c96; }
    .gallery__button .button__text {
      text-transform: uppercase;
      font-size: 1.3rem;
      letter-spacing: 2.5px;
      font-weight: bold; }

.notch-title {
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  padding: 1rem 3rem;
  border-radius: 8px; }
  .notch-title--green {
    background-color: #00A979; }
  .notch-title--mid {
    padding: 2rem 3rem; }
  .notch-title__text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    color: #FFF7E1;
    font-weight: bold;
    letter-spacing: 4px; }
  .notch-title__text--mid {
    font-size: 2.6rem; }
  .notch-title--top-center {
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%); }
  .notch-title--top-left {
    top: 0;
    left: 7%;
    transform: translateY(-60%); }

.content-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  @media only screen and (max-width: 37.5em) {
    .content-items {
      flex-direction: column; } }
  .content-items__item {
    flex-basis: calc(1/2*100%);
    list-style-type: none; }
    .content-items__item:nth-child(odd) {
      padding-right: 2.5rem; }
    .content-items__item:nth-child(even) {
      padding-left: 2.5rem; }
    @media only screen and (max-width: 37.5em) {
      .content-items__item:nth-child(odd), .content-items__item:nth-child(even) {
        padding-right: 0rem;
        padding-left: 0rem; }
      .content-items__item:not(:last-child) {
        margin-bottom: 4rem; } }
  .content-items__header {
    text-align: center; }
  .content-items__image {
    height: 30rem;
    width: 100%; }
    @media only screen and (max-width: 48em) {
      .content-items__image {
        height: 22rem; } }
  .content-items__text {
    padding-left: 1rem; }
  .content-items__decorative-text {
    display: flex;
    justify-content: start;
    align-items: center;
    vertical-align: middle;
    font-size: 1.6rem;
    color: #00A979; }
    .content-items__decorative-text::before {
      content: '';
      display: inline-block;
      border-bottom: 1px solid #00A979;
      width: 10rem; }
  .content-items__description {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF7E1;
    letter-spacing: 3px; }
    @media only screen and (max-width: 75em) {
      .content-items__description {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 48em) {
      .content-items__description {
        letter-spacing: 2px;
        font-size: 1.6rem; } }

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden; }
  .carousel__item {
    height: 15rem;
    border: 1px solid red;
    margin-right: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    .carousel__item > img {
      height: 100%;
      display: block; }
  .carousel--animated {
    flex-wrap: nowrap;
    animation: carousel-spin 10s linear infinite; }
  .carousel-animation-wrapper .carousel {
    display: inline-flex; }

.logos {
  position: relative;
  overflow: hidden;
  white-space: nowrap; }
  .logos__slide {
    display: inline-block; }
  .logos__image {
    height: 15rem;
    margin: 0 4rem; }
  .logos--table .logos__slide {
    display: inline-table;
    border-collapse: separate;
    border-spacing: 2.5rem; }
    .logos--table .logos__slide > * {
      display: table-cell; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0 0; }
    @media only screen and (max-width: 37.5em) {
      .form__row {
        flex-direction: column;
        padding: 0; } }
  .form__group {
    flex-grow: 0;
    flex-basis: 50%;
    padding: 1rem 1rem; }
    .form__group--full-width {
      flex-basis: 100%; }
    @media only screen and (max-width: 37.5em) {
      .form__group {
        width: 80%;
        margin-top: 3rem; } }
  .form__input {
    font-family: inherit;
    width: 100%;
    border: none;
    outline: none;
    padding-left: .5rem;
    border-bottom: 4px solid #00A979;
    background-color: transparent;
    font-size: 2.4rem;
    letter-spacing: 3px;
    color: #232427; }
    @media only screen and (max-width: 75em) {
      .form__input {
        letter-spacing: 2px; } }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      color: rgba(35, 36, 39, 0.4);
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: bold;
      overflow: visible;
      letter-spacing: 4px; }
      @media only screen and (max-width: 75em) {
        .form__input::placeholder {
          font-size: 2rem;
          letter-spacing: 2px; } }
  .form__label {
    display: inline-block;
    font-size: 2.4rem;
    padding-left: .5rem;
    color: #232427;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .5s;
    transform: translateY(-3rem); }
    @media only screen and (max-width: 75em) {
      .form__label {
        font-size: 2rem; } }
  .form__input:placeholder-shown + .form__label {
    visibility: hidden;
    opacity: 0; }
  .form__input:not(:placeholder-shown) + .form__label {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10rem); }
    @media only screen and (max-width: 75em) {
      .form__input:not(:placeholder-shown) + .form__label {
        transform: translateY(-9.5rem); } }
  .form__button {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 0.7rem 2.7rem 0.7rem 2.8rem; }
    .form__button:hover:not(:disabled) {
      background-color: #2f2c96; }
    .form__button:disabled {
      cursor: default;
      opacity: 50%; }

.study-content {
  display: flex;
  flex-direction: row; }
  .study-content__side {
    min-width: 15%;
    flex-direction: column; }
  .study-content__side .study-content__item:not(:last-child) {
    padding-bottom: 6rem; }
  .study-content__main {
    flex-grow: 1;
    flex-direction: column;
    margin-left: 20rem; }
  .study-content__main .study-content__item:not(:last-child) {
    padding-bottom: 7rem; }

.paragraph {
  color: #232427; }
  .paragraph__title {
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1rem; }
  .paragraph__line {
    display: inline-block;
    font-size: inherit;
    width: 100%; }
  .paragraph__content {
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 2px; }
    .paragraph__content--helvetica {
      font-size: 1.6rem;
      font-weight: 400;
      font-family: 'Helvetica';
      letter-spacing: 0.64px; }
    .paragraph__content:not(:last-child) {
      padding-bottom: 3rem; }

.quote {
  position: relative;
  background-color: #00A979;
  color: #FFF;
  padding: 0 2rem; }
  .quote--orange {
    background-color: #fa492d; }
  .quote--round {
    border-radius: 15px; }
  .quote--med {
    padding: 2rem 4rem; }
    .quote--med .quote__title {
      font-size: 2.8rem;
      letter-spacing: 4px;
      font-weight: 600;
      text-align: right; }
    .quote--med .quote__text {
      font-size: 1.8rem;
      font-family: 'Helvetica'; }
    .quote--med .quote__quotee {
      font-size: 3.2rem;
      font-weight: 600; }
    .quote--med .quote__open-quote,
    .quote--med .quote__close-quote {
      width: 9rem;
      height: 9rem; }
    .quote--med .quote__open-quote {
      top: -10%;
      right: 7%; }
    .quote--med .quote__close-quote {
      bottom: -10%;
      right: 7%; }
    .quote--med .quote__row {
      padding-bottom: 3rem; }
  .quote__title, .quote__quotee {
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: center; }
  .quote__title {
    font-size: 6.1rem;
    letter-spacing: 4px; }
  .quote__quotee {
    font-size: 4rem;
    letter-spacing: 4px;
    padding-top: 1rem; }
  .quote__row {
    padding-bottom: 1.8rem;
    text-align: center; }
  .quote__text {
    display: inline-block;
    width: 90%;
    font-size: 2.8rem;
    font-family: 'Helvetica';
    line-height: 132%;
    margin: 0 auto; }
    .quote__text--center {
      text-align: center; }
    .quote__text--start {
      text-align: start; }
  .quote__open-quote, .quote__close-quote {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 12rem;
    height: 12rem; }
  .quote__open-quote {
    top: -15%;
    left: 7%;
    background-image: url(../../img/svg/quote-open.svg); }
  .quote__close-quote {
    bottom: -15%;
    right: 7%;
    background-image: url(../../img/svg/quote-close.svg); }

.page-notch {
  position: absolute;
  bottom: 0;
  left: 50%;
  min-width: 20%;
  padding-bottom: 2rem;
  background-color: inherit;
  border-radius: 0 0 30px 30px;
  text-align: center;
  z-index: 10;
  transform: translate(-50%, 50%);
  max-width: 30%; }
  .page-notch__content {
    color: #232427;
    display: inline-block; }
  .page-notch__heading {
    display: inline-block;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-left: 8px;
    width: 100%; }
  .page-notch__sub-heading {
    display: inline-block;
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    width: 100%; }
  .page-notch__sub-text {
    display: inline-block;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%; }
  .page-notch__sup-text {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    color: #2f2c96;
    text-transform: uppercase; }
  .page-notch--med {
    transform: translate(-50%, 70%); }
    .page-notch--med .page-notch__heading {
      font-size: 4rem; }
    .page-notch--med .page-notch__sub-heading {
      font-size: 2.4rem; }
    .page-notch--med .page-notch__sub-text {
      font-size: 1.8rem; }
  .page-notch--color-white .page-notch__content {
    color: #FFF7E1; }

.zigzag-container {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .zigzag-container__item {
    display: flex; }
    .zigzag-container__item:not(:last-child) {
      padding-bottom: 15rem; }
    .zigzag-container__item:nth-child(odd) {
      flex-direction: row; }
      .zigzag-container__item:nth-child(odd) .zigzag-container__item-description {
        text-align: end;
        padding-left: 30rem; }
    .zigzag-container__item:nth-child(even) {
      flex-direction: row-reverse; }
      .zigzag-container__item:nth-child(even) .zigzag-container__item-description {
        text-align: start;
        padding-right: 30rem; }
    .zigzag-container__item-description {
      text-align: start;
      padding: 0 5rem; }
      .zigzag-container__item-description > * {
        display: inline-block;
        width: 100%; }
    .zigzag-container__item-presentation {
      min-width: 57%; }
  .zigzag-container__title {
    font-family: 'helvetica';
    font-size: 2.2rem; }
  .zigzag-container__client {
    font-size: 6.1rem;
    letter-spacing: 4px;
    padding-bottom: 1rem; }
  .zigzag-container__description {
    font-family: 'helvetica';
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 2rem;
    line-height: 148%; }
  .zigzag-container__button {
    font-size: 2.2rem;
    letter-spacing: 4px;
    padding: 0.7rem 2rem 0.7rem 2.4rem;
    width: auto;
    transition: background-color .2s; }
    .zigzag-container__button:hover {
      background-color: #2f2c96; }
  .zigzag-container__image {
    width: 100%;
    max-height: 50rem;
    object-fit: cover;
    object-position: top; }

.card {
  display: inline-block;
  border-radius: 10px;
  color: #FFF7E1;
  padding: 3rem;
  max-width: 28rem; }
  .card > * {
    white-space: wrap; }
  .card__header {
    text-align: center;
    min-height: 30%;
    height: 13rem; }
  .card__title {
    font-weight: bold;
    font-size: 2.8rem;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .card__body {
    text-align: center; }
  .card__text {
    font-family: "Helvetica";
    font-size: 1.6rem; }
  .card--orange {
    background-color: #fa492d; }
  .card--purple {
    background-color: #2f2c96; }
  .card--green {
    background-color: #00A979; }
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center; }
    .card-container__row {
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: space-between; }
      .card-container__row .card {
        max-width: none; }
        .card-container__row .card:not(:last-child) {
          margin-right: 2rem; }
        .card-container__row .card__header {
          height: 9rem; }
      .card-container__row:not(:last-child) {
        margin-bottom: 4rem; }

.button-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none; }
  .button-slider__item:not(:last-child) {
    margin-right: 1rem; }
  .button-slider__button {
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    outline: none;
    border: 2px solid #fa492d;
    background-color: transparent; }
    .button-slider__button:hover {
      cursor: pointer; }
    .button-slider__button--selected {
      border: 2px solid transparent;
      background-color: #fa492d; }

.case-study {
  background-image: url(../../img/case-studies/bg-case-study-orange-wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 13rem; }
  .case-study__cover {
    height: 65vh;
    position: relative;
    background-color: green; }
  .case-study__arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
    .case-study__arrow-container--left {
      left: 0%; }
    .case-study__arrow-container--right {
      right: 0%; }
    .case-study__arrow-container:hover {
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.219));
      cursor: pointer; }
  .case-study__triangle {
    transform: translateY(-70%);
    text-align: center;
    margin-bottom: -4%; }
  .case-study__description {
    text-align: center; }
  .case-study__study-heading {
    font-size: 2.6rem;
    text-transform: uppercase;
    color: #FFF7E1;
    display: inline-block;
    letter-spacing: 3px; }
