@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Bold.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: bold;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: normal;
  size-adjust: 180%; }

@font-face {
  font-family: 'Morganite';
  src: url(../fonts/Morganite-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
  size-adjust: 180%; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Morganite'; }
  body > * {
    position: relative; }

[class^="section"] {
  position: relative; }

footer.footer {
  position: relative; }

.wrapper {
  max-width: 140rem;
  margin: 0 auto; }

.heading-primary {
  text-transform: uppercase;
  color: #232427;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 6px;
  font-size: 7rem; }

.h-1 {
  color: #232427;
  display: inline-block;
  font-weight: bold;
  font-size: 6.1rem;
  text-transform: uppercase;
  letter-spacing: 10px; }

.h-2 {
  display: inline-block;
  font-weight: 600;
  font-size: 8rem;
  text-transform: uppercase; }

.h-3 {
  display: inline-block;
  font-weight: bold;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 4px; }

.text {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase; }
  .text--top, .text--main {
    display: inline-block; }
  .text--top {
    color: #fa492d;
    font-size: 1.2rem;
    letter-spacing: 3.6px;
    padding-bottom: .1rem;
    font-weight: normal; }
  .text--main {
    color: #FFF7E1;
    font-size: 2.4rem;
    letter-spacing: 3.6px;
    font-weight: bold; }

.u-center-text {
  text-align: center; }

.u-width-medium {
  width: 30rem; }

.u-text-block {
  display: block; }

.u-section-title {
  padding: 5rem; }

.u-left-padding-zero {
  padding-left: 0; }

.u-padding-top-med {
  padding-top: 5rem; }

.u-padding-bottom-med {
  padding-bottom: 15rem; }

@keyframes spin {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

.header {
  background-color: #FFF7E1;
  position: relative;
  padding-bottom: 15rem; }
  .header__background {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20rem;
    transform: translateY(5%); }
  .header__logo-wave {
    position: absolute;
    top: 0;
    left: 0; }
  .header__overflow-container {
    overflow: hidden; }
  .header__green-wave {
    height: auto;
    width: 100%;
    transform: translateY(7%); }
    .header__green-wave--container {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0; }
  .header__content {
    padding-top: 4rem;
    position: relative; }
  .header__main {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 7rem 0;
    justify-content: space-around;
    max-width: 114rem; }
  .header__text-box {
    display: flex;
    align-items: center; }
  .header .heading-primary {
    max-width: 20rem;
    padding-bottom: 3rem; }
  .header__content-box .composition {
    margin: 0 auto;
    width: 54rem;
    margin-left: 15rem; }
  .header__main .header__text-box {
    max-width: 38rem; }
  .header__offerings {
    padding-top: 4rem;
    text-align: center; }

.navigation__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.navigation__item {
  display: inline-block; }
  .navigation__item:not(:last-child) {
    margin-right: 4rem; }

.navigation__link {
  transition: transform .2s;
  backface-visibility: hidden; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #232427;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1.5px; }
  .navigation__link:hover {
    color: #fa492d;
    cursor: pointer; }

.footer {
  background-color: #FFF7E1;
  padding-top: 8rem; }
  .footer .background-layer__clip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90%;
    clip-path: polygon(100% 100%, 0% 100%, 0% 10%, 50% 0%, 100% 10%);
    background-color: #2f2c96; }
  .footer__wave {
    position: absolute; }
    .footer__wave--top {
      top: 0;
      left: 0;
      height: 40rem; }
    .footer__wave--bottom {
      bottom: 0;
      right: 0; }
  .footer-content {
    position: relative;
    z-index: 20;
    display: flex;
    padding: 10rem 0 10rem 0;
    justify-content: space-between; }
    .footer-content > * {
      flex-basis: calc(1/2*100%); }
  .footer__logo-box {
    text-align: right;
    padding-right: 4rem; }
  .footer__logo {
    margin-right: 5rem; }
  .footer__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 1rem; }
    .footer__list--standalone {
      padding-left: 0; }
      .footer__list--standalone .footer__list-item:first-child {
        padding-left: 0; }
    .footer__list-section {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start; }
      .footer__list-section:not(:last-child) {
        margin-right: 5rem; }
    .footer__list-item {
      display: block;
      padding: 1rem .5rem; }
  .footer__link, .footer__text {
    color: #FFF7E1;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .footer__link {
    text-decoration: none; }
    .footer__link:hover {
      color: #fa492d; }
  .footer__button.footer__link {
    font-size: 2rem;
    letter-spacing: 3px;
    padding: 0.6rem 3rem; }
  .footer__button:hover {
    color: #FFF7E1;
    background-color: #fa492d; }

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: inherit;
  margin: inherit; }

.content-layer {
  position: relative;
  z-index: 20; }

.section-projects {
  background-color: #FFF7E1;
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .section-projects__overflow-container {
    overflow: hidden; }
    .section-projects__overflow-container--wave {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5; }
  .section-projects__wave {
    transform: translateY(-20%); }
  .section-projects .gallery {
    margin: 0 auto;
    padding-bottom: 7rem; }
  .section-projects .gallery__item--1 {
    grid-column: start / col 3;
    grid-row: 1 / 7; }
  .section-projects .gallery__item--2 {
    grid-column: start / col 3;
    grid-row: 7 / 13; }
  .section-projects .gallery__item--3 {
    grid-column: col 3 / col 6;
    grid-row: 1 / 5; }
  .section-projects .gallery__item--4 {
    grid-column: col 3 / col 6;
    grid-row: 5 / 9; }
  .section-projects .gallery__item--5 {
    grid-column: col 3 / col 6;
    grid-row: 9 / 13; }
  .section-projects .gallery__item--6 {
    grid-column: col 6 / col 8;
    grid-row: 1 / 7; }
  .section-projects .gallery__item--7 {
    grid-column: col 6 / col 8;
    grid-row: 7 / 13; }
  .section-projects__button {
    transition: background-color .2s; }
    .section-projects__button.button {
      padding: 0.7rem 2.6rem; }
    .section-projects__button .button__text {
      font-size: 2rem;
      letter-spacing: 4px; }
    .section-projects__button:hover {
      background-color: #fa492d; }

.section-clients {
  padding: 1rem 1rem;
  background-color: #00A979;
  position: relative; }

.section-blog {
  background-color: #2f2c96;
  padding: 4rem 13rem 5rem 13rem;
  position: relative; }
  .section-blog__wave {
    position: absolute;
    top: 0;
    right: 0; }
  .section-blog__bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%); }
  .section-blog .h-3 {
    color: #FFF7E1; }
  .section-blog .content-items {
    padding-bottom: 6rem; }
  .section-blog__button {
    transition: background-color .2s; }
    .section-blog__button.button {
      padding: 0.7rem 2.6rem; }
    .section-blog__button .button__text {
      font-size: 2rem;
      letter-spacing: 4px; }
    .section-blog__button:hover {
      background-color: #fa492d; }

.section-form {
  background-color: #FFF7E1;
  padding: 16rem 0 0 0; }
  .section-form .form {
    margin-top: -3rem; }

.button {
  border-radius: 50px;
  padding: 0.6rem 1.7rem;
  outline: none;
  border: none; }
  .button, .button__text {
    font-family: inherit;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600; }
  .button--green {
    text-transform: uppercase;
    background-color: #00A979;
    color: #FFF7E1; }
  .button--orange {
    text-transform: uppercase;
    background-color: #fa492d;
    color: #FFF7E1; }
  .button:hover {
    cursor: pointer; }

.menu {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  max-width: 175rem; }
  .menu__logo__logo-img {
    width: 100%;
    height: auto; }

.composition {
  position: relative;
  height: 48rem; }
  .composition:not(:hover) .composition__item--2 {
    transform: translateY(-5rem); }
  .composition:hover .composition__item {
    filter: blur(1px); }
  .composition__item {
    display: inline-block;
    position: absolute;
    top: 10%;
    border-radius: 10rem;
    width: 18rem;
    height: 48rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35rem;
    transition: transform .3s, filter .2s; }
    .composition__item:hover {
      z-index: 30;
      transform: translateY(-5rem) scale(1.1);
      filter: blur(0px) !important; }
    .composition__item--1 {
      left: 1rem;
      background-image: linear-gradient(to top, rgba(47, 44, 150, 0.534) 100%, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.466) 60%, transparent), url("../img/covers/pp.png"); }
      .composition__item--1:hover {
        background-image: url("../img/covers/pp.png"); }
    .composition__item--2 {
      left: 17rem;
      background-image: linear-gradient(to top, rgba(47, 44, 150, 0.534) 100%, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.466) 60%, transparent), url("../img/covers/pp.png"); }
      .composition__item--2:hover {
        background-image: url("../img/covers/pp.png"); }
    .composition__item--3 {
      left: 33rem;
      background-image: linear-gradient(to top, rgba(47, 44, 150, 0.534) 100%, transparent), linear-gradient(to top, rgba(0, 0, 0, 0.466) 60%, transparent), url("../img/covers/pp.png"); }
      .composition__item--3:hover {
        background-image: url("../img/covers/pp.png"); }
  .composition__image-title {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg); }
  .composition__item:hover .composition__image-title {
    opacity: 0;
    visibility: hidden; }

.offerings {
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
  list-style-type: none; }
  .offerings__link {
    text-decoration: none;
    color: inherit;
    font-size: 2.4rem;
    letter-spacing: 1.5px; }
  .offerings__item {
    display: inline-block;
    padding: 0rem 1rem; }
    .offerings__item-description {
      display: inline-block;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #FFF7E1; }
    .offerings__item-icon {
      display: inline-block;
      padding-right: .8rem; }
    .offerings__item:not(:last-child) {
      border-right: 1px solid #FFF7E1; }
    .offerings__item > * {
      vertical-align: middle; }
    .offerings__item:hover {
      cursor: pointer; }
    .offerings__item:hover:not(:last-child) {
      border-right: 1px solid #2f2c96; }
    .offerings__item:hover .offerings__item-description {
      color: #2f2c96; }

.gallery {
  display: grid;
  grid-template-columns: [start] repeat(7, [col] 1fr [col]) [end];
  grid-template-rows: repeat(12, 3rem);
  grid-row-gap: 4.5rem;
  grid-column-gap: 4rem;
  width: 140rem; }
  .gallery__item {
    position: relative; }
  .gallery__description {
    padding-top: .5rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: #2f2c96;
    font-weight: bold;
    letter-spacing: 2px; }
  .gallery__image {
    object-fit: cover;
    width: 97%;
    height: 95%;
    display: block;
    transform-origin: bottom;
    transition: transform .3s;
    filter: drop-shadow(0 1px 0.4rem #232427); }
    .gallery__image:hover {
      transform: scale(1.04); }
  .gallery__button {
    position: absolute;
    bottom: 10%;
    right: 0;
    transform: translateX(10%);
    transition: background-color .2s; }
    .gallery__button:hover {
      background-color: #2f2c96; }
    .gallery__button .button__text {
      text-transform: uppercase;
      font-size: 1.3rem;
      letter-spacing: 2.5px;
      font-weight: bold; }

.notch-title {
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
  padding: 1rem 3rem;
  border-radius: 8px; }
  .notch-title--green {
    background-color: #00A979; }
  .notch-title__text {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2rem;
    color: #FFF7E1;
    font-weight: bold;
    letter-spacing: 4px; }
  .notch-title--top-left {
    top: 0;
    left: 7%;
    transform: translateY(-60%); }

.content-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .content-items__item {
    flex-basis: calc(1/2*100%);
    list-style-type: none; }
    .content-items__item:nth-child(odd) {
      padding-right: 2.5rem; }
    .content-items__item:nth-child(even) {
      padding-left: 2.5rem; }
  .content-items__header {
    text-align: center; }
  .content-items__image {
    height: 30rem;
    width: 100%; }
  .content-items__text {
    padding-left: 1rem; }
  .content-items__decorative-text {
    display: flex;
    justify-content: start;
    align-items: center;
    vertical-align: middle;
    font-size: 1.6rem;
    color: #00A979; }
    .content-items__decorative-text::before {
      content: '';
      display: inline-block;
      border-bottom: 1px solid #00A979;
      width: 10rem; }
  .content-items__description {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 500;
    color: #FFF7E1;
    letter-spacing: 3px;
    padding-left: 7rem; }

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  overflow: hidden; }
  .carousel__item {
    height: 15rem;
    border: 1px solid red;
    margin-right: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
    .carousel__item > img {
      height: 100%;
      display: block; }
  .carousel--animated {
    flex-wrap: nowrap;
    animation: carousel-spin 10s linear infinite; }
  .carousel-animation-wrapper .carousel {
    display: inline-flex; }

.logos {
  position: relative;
  overflow: hidden;
  white-space: nowrap; }
  .logos__slide {
    display: inline-block;
    animation: 10s spin linear infinite; }
  .logos__image {
    height: 15rem;
    margin: 0 4rem; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .form__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0 0; }
  .form__group {
    flex-grow: 0;
    flex-basis: 50%;
    padding: 1rem 1rem; }
    .form__group--full-width {
      flex-basis: 100%; }
  .form__input {
    font-family: inherit;
    width: 100%;
    border: none;
    outline: none;
    padding-left: .5rem;
    border-bottom: 4px solid #00A979;
    background-color: transparent;
    font-size: 2.4rem;
    letter-spacing: 3px;
    color: #232427; }
    .form__input:focus {
      outline: none; }
    .form__input::placeholder {
      color: rgba(35, 36, 39, 0.4);
      font-size: 2.4rem;
      text-transform: uppercase;
      font-weight: bold;
      overflow: visible;
      letter-spacing: 4px; }
  .form__label {
    display: inline-block;
    font-size: 2.4rem;
    padding-left: .5rem;
    color: #232427;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .5s;
    transform: translateY(-3rem); }
  .form__input:placeholder-shown + .form__label {
    visibility: hidden;
    opacity: 0; }
  .form__input:not(:placeholder-shown) + .form__label {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10rem); }
  .form__button {
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 0.7rem 2.7rem 0.7rem 2.8rem; }
    .form__button:hover:not(:disabled) {
      background-color: #2f2c96; }
    .form__button:disabled {
      cursor: default;
      opacity: 50%; }
