@mixin text-standard($font-size){
     font-weight: 600;
     text-transform: uppercase;
     font-size:$font-size;
}

//Media query manager
//Desktop first
/*

0-600px ---Phone

600-900px ---Tablet portrait

900-1200px ---Tablet landscape

1200-1800px ---Desktop

1800-Infinite ---Big Desktop

    -phone
    -tab-port
    -tab-land
    -big-desktop

Please use em units instead of pixels/rem. 
They always point to the browser default font size.
*/

@mixin respond($view){
    @if $view == 'phone-sm-sm'{
        @media only screen and (max-width:22.5em){ //360px
            @content;
        }
    }
    @if $view == 'phone-sm'{
        @media only screen and (max-width:25em){
            @content;
        }
    }
    @if $view == 'phone-med'{
        @media only screen and (max-width:29em){
            @content;
        }
    }
     @if $view == 'phone' {
         @media only screen and (max-width:37.5em){ //600px
             @content;
         }
     }
     @if $view == 'tab-generic'{
        @media only screen and (max-width:48em){ //768px
            @content;
        }
     }
     @if $view == 'tab-port'{
         @media only screen and (max-width:56.25em){ //900px
             @content;
        }        
     }
     @if $view == 'laptop'{
        @media only screen and (max-width:64em){ //1024px
            @content;
        }
     }
     @if $view == 'tab-land'{
         @media only screen and (max-width:75em){ //1200px
             @content;
         }
     }
     @if $view == 'big-laptop'{
        @media only screen and (max-width:90em){ //1440px
            @content;
        }
     }
     @if $view == 'big-desktop'{
         @media only screen and (min-width:112.5em){  //1800px
             @content;
         }
     }
 }

 @mixin touchDevices(){
    @media (max-width:75em) and (pointer:coarse) and (hover:none){
        @content;
    }
 }