$color-black: rgb(35, 36, 39);
$color-light: #FFF7E1;
$color-green: #00A979;
$color-orange: rgb(250, 73, 45);
$color-purple: rgb(47, 44, 150);
$color-purple-transparent: rgba(47, 44, 150, 0.356);
$color-black-transparent: rgba(0, 0, 0, 0.466);
$color-black-transparent-text: rgba(35, 36, 39, 0.40);
$color-light-transparent: #fff7e1b7;
$color-white:#FFF;

//////////////////////////////////////
/// Fonts for Helvetica family
//////////////////////////////////////
$text-helvetica-small-med:1.3rem;
$text-helvetica-small-small-med-med:1.8rem;
$text-helvetica-mid:2.2rem;
$text-helvetica-small-med-med-med:2rem;
$text-helvetica-small-med-med:1.6rem;
$text-helvetica-med:2.8rem;

//////////////////////////////////////
/// Fonts for Morganite family
//////////////////////////////////////
$text-small-min:2rem;                   //modified
$text-small-med:2.35rem;                   //modified
$text-min-min-min: 2.8rem; 
$text-min-min: 3rem;                //modified;used as new
$text-min:3.4rem;               //modified
$text-small-med-med:3.6rem;               //modified
$text-small:3.6rem;                               // modified
$text-small-med-med-med: 3.8rem;                 // modified
$text-small-big:3.9rem;                             // modified
$text-med-small:4rem;                           //modified
$text-med-med:4.6rem;
$text-med:4.8rem;                           //modified
$text-large:6.2rem;                //modified
$text-h2-sm:7rem;                           //modified
$text-h2-med:8.2rem;                       //modified
$text-h2:9rem;                           //modified
$text-h1-sm: 11rem;                           //modified
$text-h1: 12.6rem;                //modified

$line-height-8:80%;
 
$z-default-layer:0;
$z-background-layer:10;
$z-content-layer:20;
$z-pop-content-layer:30;