$color-black: #232427;
$color-light: #FFF7E1;
$color-green: #00A979;
$color-orange: rgb(250, 73, 45);
$color-purple: rgb(47, 44, 150);
$color-purple-transparent: rgba(47, 44, 150, 0.534);
$color-black-transparent: rgba(0, 0, 0, 0.466);

$text-small-min: 1.6rem;
$text-small:1.8rem;
$text-small-med: 2rem;
$text-med-small:2.4rem;
$text-med: 3rem;