.header{
    overflow-x:hidden;
    overflow-y: clip;
    background-color: $color-light;
    position:relative;
    padding-bottom:15rem;

    &__background{
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        margin-top:20rem;

        &--stacked{
            z-index: $z-background-layer;
        }
        &--big{
        }

        &--tablet,
        &--phone{
            display: none;
            visibility: hidden;
            width:100%;
        }

        @include respond('big-laptop'){
            padding-top:0rem;
        }

        @include respond('tab-port'){
            &--big{
                display:none;
                visibility: hidden;
            }

            &--tablet{
                display:block;
                visibility: visible;
            }
        }
        @include respond('phone'){
            &--tablet{
                display: none;
                visibility: hidden;
            }
            &--phone{
                visibility: visible;
                display: block;
                height: 70rem;
                width: auto;
                position:relative;
                left:50%;
                transform: translateX(-50%);
            }
        }
        @include respond('phone-med'){
            &--phone{
                height: 50rem;
                transform: translate(-50%,-10%) scale(1.1);
            }
        }
    }

    &__logo-wave{
        position:absolute;
        top:0;
        left:0;
        @include respond('tab-port'){
            height: 30rem;
        }
        @include respond('tab-land'){
            height: 35rem;
        }
        @include respond('phone'){
            height: 28rem;
        }
        @include respond('phone-med'){
            height: 22rem;
            left:-3rem;
        }
    }

    &__overflow-container{
        overflow: hidden;
    }

    &__green-wave{

        height:auto;
        width:100%;
        transform:translateY(7%);
        &--container{
            position:absolute;
            width:100%;
            bottom:0;
            left:0;
        }
    }

    &__content{
        padding-top:4rem;
        position:relative;
        @include respond('tab-land'){
            padding-top:2rem;
        }
        &--stacked{
            z-index: $z-content-layer;
            &>*{
                position:relative;
            }
        }

    }

    &__main{
        position:relative;
        display:flex;
        margin:0 auto;
        padding:7rem 0;
        padding-top:4rem;
        justify-content: space-around;
        max-width: 114rem;

        @include respond('big-laptop'){
            padding: 1rem 0;
            justify-content: space-between;
        }
        @include respond('tab-port'){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        @include respond('tab-land'){
            margin-top:3rem;
        }
    }
    &__text-box{
        display:flex;
        align-items: center; 
        max-width: 38rem;

        @include respond('big-laptop'){
            margin-left:10rem;
        }
        @include respond('laptop'){
            min-width: 27rem;
        }
        @include respond('tab-land'){
            max-width: none;
            padding-bottom:5rem;
        }
        @include respond('tab-port'){
            margin-left:0rem;
            text-align: center;

        }
        @include respond('phone'){
            padding-bottom: 4rem;
        }
        @include respond('phone-med'){
            padding-bottom: 6rem;
        }
    }

    & .heading-primary{
        max-width: 20rem;
        padding-bottom:3rem;

        .u-text-break{
            display:none;
        }

        @include respond('tab-land'){
            max-width: none;
            .u-text-break{
                display:block;
            }
        }
    }

    &__content-box{
        & .composition{
            margin:0 auto;
            width:54rem;
            margin-left:15rem;

            @include respond('big-laptop'){
                width:60rem;
            }
            @include respond('tab-land'){
                margin-left:0;
            }
        }
    }
    &__offerings{
        padding-top:8rem;
        text-align: center;
        transform:translateY(-3rem);
        @media only screen and (max-width:1800px){
            transform:translateY(-5rem);
        }
        @media only screen and (max-width:1498px){
            transform:translateY(-3rem);
        }
        @include respond('big-laptop'){
            transform:translateY(-1rem);
        }
        @media only screen and (max-width:1274px){
            transform:translateY(0rem);
        }
        @include respond('tab-land'){
            padding-bottom:3rem;
            transform:translateY(2.7rem);
        }
        @media only screen and (max-width:1085px){
            transform:translateY(4.7rem);
        }
        @media only screen and (max-width:986px){
            transform:translateY(5.7rem);
        }
        @media only screen and (max-width:907px){
            transform:translateY(6.7rem);
        }
        @include respond('laptop'){
        }
        @include respond('tab-port'){
            transform:none;
        }
        @include respond('tab-generic'){
            transform:translateY(-2rem);
        }
        @media only screen and (max-width:674px){
            transform:translateY(-4rem);
        }
        @include respond('phone'){
            transform:none;
            padding-top:1rem;
        }
        @include respond('phone-med'){
            padding-bottom: 1rem;
        }
    }

}

