.header{
    background-color: $color-light;
    position:relative;
    padding-bottom:15rem;

    &__logo-wave{
        position:absolute;
        top:0;
        left:0;
    }

    &__overflow-container{
        overflow: hidden;
    }

    &__green-wave{

        height:auto;
        width:100%;
        transform:translateY(7%);


        &--container{
            position:absolute;
            width:100%;
            bottom:0;
            left:0;
        }
    }

    &__content{
        padding-top:4rem;
        position:relative;
    }

    &__main{
        position:relative;
        display:flex;
        margin:0 auto;
        padding:7rem 0;
        justify-content: space-around;
        max-width: 114rem;
    }
    &__text-box{
        display:flex;
        align-items: center; 
    }
    & .heading-primary{
        letter-spacing: -1.5px;
        transform:scaleY(2.8)
    }

    &__content-box{
        & .composition{
            margin:0 auto;
            width:54rem;
        }
    }
    &__main &__text-box{
        max-width: 38rem;
    }

    &__offerings{
        transform:translateY(7rem);
        padding-top:3rem;
        text-align: center;
    }

    &__notch{
        position:absolute;
        bottom:0;
        left:50%;
        transform:translate(-50%,80%);
        background-color: $color-green;
        width:40%;
        height:10rem;
        border-radius: 0 0 20px 20px;

        display:flex;
        justify-content: center;
        align-items: center;

        &-text{
            @include text-standard(1.2rem);
            color:$color-light;
            padding-bottom:2rem;
        }

        &-button{

            &-container{
                position:relative;
                transform:translateY(-2rem);
            }

            &,
            &--behind{
                position:absolute;
                height:9em;
                width:6rem;
                margin:0 auto;
                border-radius: 40px;
                background-color: $color-light;
            }

            &--behind{
                transform:scale(1.8) translateY(-10%);
                background-color: $color-green;
                clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
                
            }

        }
    }

}

