.background-layer{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    z-index: $z-background-layer;

    padding:inherit;
    margin:inherit;
}

.content-layer{
    position:relative;
    z-index: $z-content-layer;
}