.navigation{

    &__list{
        display:flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    &__item{
        display:inline-block;
        margin:1rem;
    }

    &__link{
        &,
        &:link,
        &:visited{
            display:inline-block;
            text-decoration:none;
            text-transform: uppercase;
            font-size:2rem;
        }


    }
}