.navigation{
    &__list{
        display:flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    &__item{
        display:inline-block;
        margin:1rem;
    }

    &__link{
        transition:transform .2s;
        backface-visibility: hidden;

        &,
        &:link,
        &:visited{
            display:inline-block;
            text-decoration:none;
            color: $color-black;
            @include text-standard($text-small);
            font-weight: 800;
        }

        &:hover{
            color: $color-orange;
            cursor:pointer;
        }


    }
}