.navigation{
    &__list{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    &__item{
        display:inline-block;
        &:not(:last-child){
            margin-right:4rem;
        }
    }

    &__link{
        transition:transform .2s;
        backface-visibility: hidden;
        &,
        &:link,
        &:visited{
            display:inline-block;
            text-decoration:none;
            color: $color-black;
            @include text-standard($text-small);
            font-weight: 800;
            letter-spacing: 1.5px;
            line-height: $line-height-8;
        }

        &:hover{
            color: $color-orange;
            cursor:pointer;
        }

    }

    @include respond('tab-port'){
        max-width: 7rem;
        max-height: 7rem;
        &>*{
            display:none;
        }
    }
}