.button{

    border-radius:50px;
    padding:0.6rem 1.7rem 0.6rem 1.7rem;
    outline:none;
    border: none;
    transition: all .2s;

    &__text{
        text-decoration: none;
    }

    &,
    &__text{
        font-family:inherit;
        display:inline-block;
        font-size:1.5rem;
        font-weight: 600;


    }

    &--green{
        text-transform: uppercase;
        background-color:$color-green;

        &,
        .button__text{
            color:$color-light;
        }
    }

    &--orange{
        text-transform: uppercase;
        background-color:$color-orange;
        &,
        .button__text{
            color:$color-light;
        }
    }

    &:hover:not([data-status="disabled"]){
        cursor: pointer;
        filter:drop-shadow(2px 2px 4px $color-black);
    }

    &--testimonial{
        font-size:$text-small-big;
        letter-spacing: 4px;
        padding: 0.7rem 2rem 0.7rem 2.4rem;
        width:auto;
        transition:background-color .2s;
        &:hover{
            background-color: $color-purple;
        }

        @include respond('tab-port'){
            font-size:$text-small-med-med-med;
        }
    }

    @include respond('tab-land'){
        padding:0.9rem 1.7rem 0.6rem 1.7rem;
    }

}