.case-study{
    background-image: url(../../img/case-studies/bg-case-study-orange-wave.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size:cover;
    padding-bottom:13rem;
    @include respond('tab-port'){
        padding-bottom:8rem;
    }
    @include respond('phone'){
        padding-bottom:6rem;
    }

    &__cover{
        height: 65vh;
        position:relative;
        background-repeat: no-repeat;
        background-size: cover;
        transition: background-position .5s;
        background-position: center;

        @include respond('tab-port'){
            height: 39vh;
        }
        @include respond('phone'){
            height: 30vh;
        }

        &[data-position="center"]{
            background-position: center;
        }
        &[data-position="left"]{
            background-position: left;
        }
        &[data-position="right"]{
            background-position: right;
        }

        // &-image{
        //     display:inline-block;
        //     height: 100%;
        //     &[data-position="center"]{
        //         background-position: center;
        //     }
        //     &[data-position="left"]{
        //         background-position: left;
        //     }
        //     &[data-position="right"]{
        //         background-position: right;
        //     }
        // }
    }

    &__arrow{
        @include respond('phone'){
            height: 3rem;
        }
        &-container{
            display:flex;
            justify-content: center;
            align-items: center;
            height:100%;
            padding:0 2rem;
            position:absolute;
            top:50%;
            transform: translateY(-50%);

            &--left{
                left:0%;
            }
            &--right{
                right:0%;
            }
            &:hover{
                background:linear-gradient(to bottom, rgba(0, 0, 0, 0.219), rgba(0, 0, 0, 0.219));
                cursor:pointer;
            }
        }

        &--left{
        }
        &--right{
        }
    }

    &__triangle{
        transform:translateY(-70%);
        text-align: center;
        margin-bottom:-4%;
        @include respond('tab-port'){
            margin-bottom:-10%;
        }
        @include respond('phone'){
            transform:translateY(-60%);
            margin-bottom:-7%;
        }
        @include respond('phone-med'){
            margin-bottom: -9%;
        }
    }
    &__triangle-image{
        @include respond('phone'){
            height: 7rem;
        }
    }
    &__description{
        text-align: center;
    }
    &__study-heading{
        font-size:$text-med-med;
        text-transform: uppercase;
        color:$color-light;
        display:inline-block;
        letter-spacing: 3px;
        @include respond('phone'){
            font-size: $text-small;
            letter-spacing: 2px;
        }
    }
}