.composition{
    position:relative;

    &__item{
        display:inline-block;
        position:absolute;
        border-radius:10rem;
        width: 20rem;
        height: 48rem;
        left:50%;
        

        &--1{
            top:0;
            background-size: 35rem;
            background-image:url("../img/covers/ian.png");
            background-position:center;
            background-repeat:no-repeat;
            transform:translateX(-50%) translateX(-20rem);
        }
        &--2{
            top:0;
            background-size: 35rem;
            background-image:url("../img/covers/ian.png");
            background-position:center;
            background-repeat:no-repeat;
            transform:translateX(-50%) scale(1.2);
            z-index:5;
        }
        &--3{
            top:0;
            background-size: 35rem;
            background-image:url("../img/covers/ian.png");
            background-position:center;
            background-repeat:no-repeat;
            transform:translateX(-50%) translateX(20rem)
        }
    }

    &__image-title{
        display:inline-block;
        position:absolute;
        top:67%;
        left:50%;
        transform:translate(-50%,-50%) rotate(-90deg);
        font-size: 3rem;
    }
}