.composition{
    position:relative;
    height:48rem;

    @include respond('tab-land'){
        height: 54rem;
    }
    @include respond('phone'){
        height: 48rem;
    }
    @include respond('phone-med'){
        height: 42rem;
    }

    &:not(:hover){
        .composition__item--2{
            transform:translateY(-5rem);

            @include respond('tab-land'){
                transform:translate(-50%,-60%);
            }
        }
    }

    &:hover{
        .composition__item{
            filter:blur(1px);
        }
    }


    &__item{
        display:inline-block;
        position:absolute;

        top:10%;
        border-radius:10rem;
        width: 18rem;
        height: 48rem;
        background-position:center;
        background-repeat:no-repeat;
        background-size: 35rem;
        transition: transform .3s, filter .2s;

        @include respond('big-laptop'){
            width:17rem;
            height: 44rem;
        }
        @include respond('tab-land'){
            width:20rem;
            height: 52rem;
        }
        @include respond('phone'){
            width:16rem;
            height: 44rem;
        }
        @include respond('phone-med'){
            width: 15rem;
            height: 42rem;
        }

        &:hover{
            z-index:$z-pop-content-layer;
            transform: translateY(-5rem) scale(1.1);
            filter:blur(0px) !important;
        }

        &--1{
            left:1rem;
            background-image: linear-gradient(to top, $color-purple-transparent 100%, transparent),
            linear-gradient(to top, $color-black-transparent 60%, transparent), url("../img/covers/pp.png");

            &:hover{
                background-image: url("../img/covers/pp.png");
                @include respond('tab-land'){
                    transform:translate(-130%,-50%) scale(1.1);
                }
            }

            @include respond('big-laptop'){
                left:3rem;
            }
            @include respond('tab-land'){
                top:50%;
                left:50%;
                transform:translate(-130%,-50%);
            }
        }
        &--2{
            left:17rem;
            background-image: linear-gradient(to top, $color-purple-transparent 100%, transparent),
            linear-gradient(to top, $color-black-transparent 60%, transparent), url("../img/covers/pp.png");

            &:hover{
                background-image: url("../img/covers/pp.png");
                @include respond('tab-land'){
                    transform:translate(-50%,-50%) scale(1.1);
                }
            }
            @include respond('tab-land'){
                top:50%;
                left:50%;
                transform:translate(-50%,-50%);
            }
        }
        &--3{
            left:33rem;
            background-image: linear-gradient(to top, $color-purple-transparent 100%, transparent),
            linear-gradient(to top, $color-black-transparent 60%, transparent), url("../img/covers/pp.png");

            &:hover{
                background-image: url("../img/covers/pp.png");
                @include respond('tab-land'){
                    transform:translate(30%,-50%) scale(1.1);
                }
            }

            @include respond('big-laptop'){
                left:31rem
            }
            @include respond('tab-land'){
                top:50%;
                left:50%;
                transform:translate(30%,-50%);
            }
        }
    }

    &__image-title{
        display:inline-block;
        position:absolute;
        top:60%;
        left:50%;
        transform:translate(-50%,-50%) rotate(-90deg);
    }

    &__item:hover &__image-title{
        opacity: 0;
        visibility: hidden;
    }
}