.content-items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &__item{
        //flex-grow:1;
        flex-basis:calc(1/2*100%);
        list-style-type: none;
        &:nth-child(odd){
            padding-right:2.5rem;
        }
        &:nth-child(even){
            padding-left:2.5rem;
        }
    }

    &__header{
        text-align: center;
    }
    &__body{

    }
    &__image{
        height: 30rem;
        width:100%;
        //height: auto;
    }

    &__text{
        padding-left:1rem;
    }

    &__decorative-text{
        display:flex;
        justify-content: start;
        align-items: center;
        //padding-top:1rem;

        vertical-align: middle;
        font-size: 1.6rem;
        color:$color-green;

        &::before{
            content:'';
            display:inline-block;
            border-bottom:1px solid $color-green;
            width:10rem;
        }
    }

    &__description{
        text-transform: uppercase;
        font-size: $text-small;
        font-weight: 500;
        color:$color-light;
        letter-spacing: 3px;
        padding-left:7rem;
    }
}