.content-items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    &__item{
        flex-grow:1;
        list-style-type: none;
        max-width: 60rem;
        padding:0 2.5rem;
    }

    &__header{
        text-align: center;
    }
    &__body{

    }
    &__image{
        width:100%;
        height: auto;
    }

    &__text{
        padding-left:1rem;
    }

    &__decorative-text{
        display:flex;
        justify-content: start;
        align-items: center;
        padding-top:1rem;

        vertical-align: middle;
        font-size: $text-small;
        font-weight: 600;
        color:$color-green;

        &::before{
            content:'';
            display:inline-block;
            border-bottom:1px solid $color-green;
            width:10rem;
        }
    }

    &__description{
        font-weight: 400;
        text-transform: uppercase;
        font-size: $text-small-min;
        color:$color-light;
        padding-top:1rem;
        transform: scale(1,1.5);
    }
}