.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__row{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        width:100%;
        padding:3rem 0 0 0;
        @include respond('phone'){
            flex-direction: column;
            padding:0;
        }
    }
    &__group{
        flex-grow:0;
        flex-basis:50%;
        padding:1rem 1rem;
        &--full-width{
            flex-basis: 100%;
        }
        @include respond('phone'){
            width: 90%;
            margin-top:3rem;
        }
    }
    &__input{
        font-family: inherit;
        width:100%;
        border:none;
        outline:none;
        padding-left:.5rem;
        border-bottom:4px solid $color-green;
        background-color: transparent;
        font-size: $text-med-small;
        letter-spacing: 3px;
        color: $color-black;

        @include respond('tab-land'){
            letter-spacing: 2px;
        }
        
        &:focus{
            outline:none;
        }
        &::placeholder{
            color:$color-black-transparent-text;
            font-size: $text-med-small;
            text-transform: uppercase;
            font-weight: bold;
            overflow: visible;
            letter-spacing: 4px;

            @include respond('tab-land'){
                font-size:$text-small;
                letter-spacing: 2px;
            }
        }

    }
    &__label{
        display:inline-block;

        font-size:$text-med-small;
        padding-left:.5rem;
        letter-spacing: 2px;
        color:$color-black;
        font-weight: bold;

        text-transform: uppercase;
        transition:all .5s;
        transform:translateY(-3rem);

        @include respond('tab-land'){
            font-size:$text-small;
        }

    }

    &__input:placeholder-shown + &__label{
        visibility: hidden;
        opacity:0;
    }

    &__input:not(:placeholder-shown) + &__label{
        visibility: visible;
        opacity:1;
        transform:translateY(-10rem);
        @include respond('tab-land'){
            transform:translateY(-9.5rem);
        }
    }

    &__button{
        text-transform: uppercase;
        font-size: $text-small;
        letter-spacing:5px;
        padding: 0.7rem 2.7rem 0.7rem 2.8rem;

        &:hover:not(:disabled){
            background-color: $color-purple;
        }
        &:disabled{
            cursor:default;
            opacity:50%;
        }

        @include respond('tab-land'){
            padding: 1rem 2.7rem 0.5rem 2.8rem;
        }
    }

    &__error{
        color:$color-orange;
        font-size: $text-small-med;
        display: block;
        transform: translateY(-3rem);
        visibility: hidden;
        padding-left:.5rem;
        letter-spacing: 2px;
    }
}