.gallery{
    //height: 100%;
    width:100%;
    position:relative;

    &__item{
        display:inline-block;
        position:absolute;
        border:1px solid red;
        border-radius:10rem;
        width: 20rem;
        height: 48rem;
        overflow: hidden;

        &--1{
            top:0;
            left:0;
            background-size: 35rem;
            background-image:url(../../img/covers/covers-case-studies-ian.png);
            background-position:center;
            background-repeat:no-repeat;
        }
        &--2{
            top:0;
            left:20rem;
            background-size: 35rem;
            background-image:url(../../img/covers/covers-case-studies-ian.png);
            background-position:center;
            background-repeat:no-repeat;
        }
        &--3{
            top:0;
            left:40rem;
            background-size: 35rem;
            background-image:url(../../img/covers/covers-case-studies-ian.png);
            background-position:center;
            background-repeat:no-repeat;
        }
    }

    &__image{
    }

    &__image-title{
        display:inline-block;
        position:absolute;
        top:67%;
        left:50%;
        transform:translate(-50%,-50%) rotate(-90deg);
        font-size: 3rem;
    }
}