.gallery{
    display:grid;
    grid-template-columns: [start] repeat(7, [col] 1fr [col]) [end];
    grid-template-rows: repeat(12, 3rem);
    grid-row-gap: 4.5rem;
    grid-column-gap:4rem;

    &__item{
        position:relative;
    }

    &__description{
        padding-top:.5rem;
        text-transform: uppercase;
        font-size:$text-small;
        color:$color-purple;
        font-weight: bold;
        letter-spacing: 2px;
    }

    &__image{
        object-fit: cover;
        width:97%;
        height: 95%;
        display:block;
        transform-origin:bottom;
        transition:transform .3s;
        filter: drop-shadow(0 1px .4rem $color-black);

        &:hover{
            transform:scale(1.04);
        }
    }

    &__button{
        position:absolute;
        bottom:10%;
        right:0;
        transform:translateX(10%);
        transition:background-color .2s;

        &:hover{
            background-color:$color-purple;
        }

        & .button__text{
            text-transform: uppercase;
            font-size: $text-small-med;
            letter-spacing: 2.5px;
            font-weight: bold;
        }
    }
}