.menu{
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width:175rem;

    &__logo{
        &__logo-img{
            width:100%;
            height: auto;
        }
    }
}