.menu{
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width:145rem;

    &--move-up{
        transform:translateY(-6rem);
    }

    @include respond('big-laptop'){
        max-width: 130rem;
    }
    @include respond('tab-land'){
        max-width: 118rem;
    }
    @include respond('laptop'){
        max-width: 100rem;
    }
    @include respond('tab-generic'){
        max-width: 81rem;
    }
    @include respond('phone'){
        max-width: 56rem;
    }
    &__logo{
        position:relative;
        z-index:50;
        @include respond('tab-land'){
            height: 7rem;
        }
        @include respond('phone'){
            height: 6rem;
        }
        @include respond('phone-med'){
            height: 5rem;
        }
        &-img{
            &--white{
                filter: drop-shadow(0 0 0.15rem $color-black);
            }
            @include respond('tab-land'){
                height: 7rem;
                width: auto;
            }
            @include respond('phone'){
                height: 6rem;
            }
            @include respond('phone-med'){
                height: 5rem;
            }
        }
        &--independent{
            display:inline-block;
            .menu__logo-img {
                display: inline-block;
                transform:translate(5rem, 3rem);
                
                @include respond('phone-med'){
                    transform:translate(1rem, 1.6rem);
                }
            }
        }
    }
}