.notch-title{
    position:absolute;
    display:inline-block;
    transform: translateY(-50%);
    padding: 1rem 3rem;
    border-radius:8px;

    &--green{
        background-color: $color-green;
    }

    &--mid{
        padding:2rem 3rem;
    }

    &__text{
        display:inline-block;
        text-transform: uppercase;
        font-size:$text-small;
        color:$color-light;
        font-weight: bold;
        letter-spacing: 4px;
    }
    &__text--mid{
        font-size:$text-med-med;
    }
    &--top-center{
        top:0;
        left:50%;
        transform:translate(-50%,-60%);
    }
    &--top-left{
        top:0;
        left:7%;
        transform:translateY(-60%);
    }
}