.offerings{
    display:inline-flex;
    flex-direction: row;
    margin:0 auto;
    list-style-type: none;

    &__link{
        text-decoration: none;
        color:inherit;
        font-size:$text-med-small;
        letter-spacing:1.5px;
    }

    &__item{
        display: inline-block;
        padding:0rem 1rem;

        &-description{
            display:inline-block;
            @include text-standard($text-small-med);
            color:$color-light;
        }

        &-icon{
            display: inline-block;
            padding-right: .8rem;
        }

        &:not(:last-child){
            border-right: 1px solid $color-light;
        }

        &>*{
            vertical-align: middle;
        }
        
        &:hover{
            cursor: pointer;
        }
        &:hover:not(:last-child){
            border-right: 1px solid $color-purple;
        }
        &:hover &-description{
            color:$color-purple;
        }
    }

    &__icon{
    }
}