.offerings{
    display:inline-flex;
    flex-direction: row;
    margin:0 auto;
    list-style-type: none;

    &__link{
        text-decoration: none;
        color:inherit;
    }

    &__item{
        padding:0rem 2rem;

        &-description{
            display:inline-block;
            text-transform: uppercase;
            font-size:$text-med-small;
            font-weight: 600;
            color:$color-light;
            transform:scale(1, 1.4);
            letter-spacing: -1px;
        }

        &-icon{
            display: inline-block;
            padding-right: .8rem;
        }

        &:not(:last-child){
            border-right: 1px solid $color-light;
        }

        &>*{
            vertical-align: middle;
        }
        
        &:hover{
            cursor: pointer;
        }
        &:hover:not(:last-child){
            border-right: 1px solid $color-purple;
        }
        &:hover &-description{
            color:$color-purple;
        }
    }

    &__icon{
    }
}