.paragraph{
    color:$color-black;

    &__title{
        display:inline-block;
        width:100%;
        font-size:$text-small;
        letter-spacing: 4px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom:1rem;
    }

    &__line{
        display: inline-block;
        font-size:inherit;
        width:100%;
    }
    &__content{
        display:inline-block;
        font-size:$text-small-med-med;
        letter-spacing:2px;

        &--helvetica{
            font-size: $text-helvetica-small-med-med;
            font-weight: 400;
            font-family: 'Helvetica';
            letter-spacing: 0.64px;
        }

        &:not(:last-child){
            padding-bottom: 3rem;
        }
    }
}