.paragraph{
    color:$color-black;

    &__title{
        display:inline-block;
        width:100%;
        font-size:$text-small;
        letter-spacing: 4px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom:1rem;
    }
    &__content{
        display:inline-block;
        font-size:$text-small-med-med;
        letter-spacing:2px;

        &:not(:last-child){
            padding-bottom: 2rem;
        }
    }
}