.quote{
    position:relative;
    background-color: $color-green;
    color:$color-white;
    padding:0 2rem;
    visibility: hidden;
    display: none;
    transition: transform 0.5s, visibility .5s;

    &--orange{
        background-color: $color-orange;
    }

    &--round{
        border-radius: 15px;
    }

    &--med{
        padding:2rem 4rem;

        @include respond('phone-med'){
            padding:1rem 2rem;
        }
        .quote__title{
            font-size:$text-med;
            letter-spacing: 4px;
            font-weight: 600;
            text-align: right;
            @include respond('phone'){
                font-size: $text-small-med-med-med;
            }
        }
        .quote__text{
            font-size:$text-small-med-med-med;
            font-family: 'Helvetica';
            @include respond('phone-med'){
                width:95%;
                font-size: $text-small-med-med;
            }
        }
        .quote__quotee{
            font-size:$text-large;
            font-weight: 600;
            @include respond('phone'){
                font-size:$text-small;
            }
            @include respond('phone-med'){
                font-size:$text-small-med-med-med;
                letter-spacing: 3px;
            }
        }
       .quote__open-quote,
       .quote__close-quote{
        width:9rem;
        height: 9rem;
        @include respond('phone-med'){
            width: 7rem;
            height: 7rem;
        }
       }
       .quote__open-quote{
        top:-10%;
        right:7%;
       }
       .quote__close-quote{
        bottom:-10%;
        right:7%;
       }
       .quote__row{
        padding-bottom:3rem;
        @include respond('phone-med'){
            padding-bottom: 2rem;
        }
       }
    }

    //for larger quote elements - example: case study page
    &__title,
    &__quotee{
        display:inline-block;
        width:100%;
        text-transform: uppercase;
        text-align: center;
    }
    &__title{
        font-size:$text-h1-sm;
        letter-spacing: 4px;
        @include respond('tab-land'){
            font-size: $text-large;
        }
        @include respond('phone'){
            font-size:$text-med-med;
            letter-spacing: 2px;
        }
        @include respond('phone-med'){
            font-size: $text-med-small;
        }
    }
    &__quotee{
        font-size:$text-h2-sm;
        letter-spacing: 4px;
        padding-top:1rem;
        @include respond('tab-land'){
            font-size: $text-med;
            letter-spacing: 3px;
        }
        @include respond('phone'){
            letter-spacing: 2px;
            font-size: $text-med-small;
        }
        @include respond('phone-med'){
            font-size: $text-small-big;
        }
    }
    &__row{
        padding-bottom:1.8rem;
        text-align: center;
    }

    &__text{
        display:inline-block;
        width:90%;

        font-size: $text-med;
        font-family: 'Helvetica';
        line-height: 132%;
        margin:0 auto;
        @include respond('tab-land'){
            font-size: $text-small-big;
        }
        @include respond('phone'){
            font-size: $text-small-med-med-med;
        }
        @include respond('phone-med'){

        }

        &--center{
            text-align: center;
        }
        &--start{
            text-align: start;
        }
    }

    &__open-quote,
    &__close-quote{
        position:absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width:12rem;
        height: 12rem;
        @include respond('tab-land'){
            width: 8rem;
            height: 8rem;
        }
        @include respond('phone'){
            height: 6rem;
            height: 6rem;
        }
        @include respond('phone'){
            height: 5.5rem;
            height: 5.5rem;
        }
    }

    &__open-quote{
        top:-15%;
        left:7%;
        background-image:url(../../img/svg/quote-open.svg);
        @include respond('phone'){
            top:-10%;
        }

    }
    &__close-quote{
        bottom:-15%;
        right:7%;
        background-image:url(../../img/svg/quote-close.svg);
        @include respond('phone'){
            bottom:-10%;
        }

    }
}

.quote.visible{
    display:block;
    transform:translateX(0);
    visibility: visible;
}