.zigzag-container{
    display:flex;
    align-items: center;
    flex-direction: column;

    &--with-image-shadows{
        .zigzag-container__item{
            &:nth-child(odd){
                .zigzag-container__image{
                    filter: drop-shadow(30px 15px 6px $color-purple);
                    @include respond('phone'){
                        filter: drop-shadow(0px 10px 12px $color-purple);
                    }
                }
            }

            &:nth-child(even){
                .zigzag-container__image{
                    filter: drop-shadow(-30px -15px 6px $color-purple);
                    @include respond('phone'){
                        filter: drop-shadow(0px 10px 12px $color-purple);
                    }
                }
            }
        }
    }
    
    &__item{
        display:flex;

        &:not(:last-child){
            padding-bottom:15rem;
        }

        &:nth-child(odd){
            flex-direction: row;
            .zigzag-container__item-description{
                text-align:end;
                align-items: end;
                //padding-left:30rem;
                @include respond('tab-land'){
                    //padding-left:20rem;
                }
                @include respond('phone'){
                    //padding:0;
                }
            }
            @include respond('phone'){
                flex-direction: column;
            }
        }
        
        &:nth-child(even){

            flex-direction: row-reverse;
            .zigzag-container__item-description{
                align-items:start;
                text-align:start;
                //padding-right:30rem;
                @include respond('tab-land'){
                    //padding-right:20rem;
                }
                @include respond('phone'){
                    //padding:0;
                }
                @include respond('phone')
            }
        }

        &-description{
            display: flex;
            flex-direction: column;
            flex-grow:1;
            padding:0 5rem;

            @include respond('tab-land'){
                padding:0 2rem;
            }
            &>*{
                display:inline-block;
                width:100%;
            }
        }
        &-presentation{
            min-width:57%;
            @include respond('tab-land'){
                min-width:70%;
            }
        }

        @include respond('phone'){
            &:nth-child(1n){
                flex-direction: column-reverse;

                & .zigzag-container__item-description{
                    align-items: center;
                    text-align: center;
                    padding-top: 2rem;
                    &>*{
                        width:auto;
                    }
                }

                & .zigzag-container__item-presentation{
                    min-width: 0%;
                    max-width: none;
                    width:100%;
                }
            }
        }

    }

    &__title{
        font-family: 'helvetica';
        font-size:$text-helvetica-mid;
    }
    &__client{
        font-size:$text-h1-sm;
        letter-spacing: 4px;
        padding-bottom:1rem;
    }
    &__description{
        font-family: 'helvetica';
        letter-spacing: 1px;
        font-weight: 400;
        font-size:1.8rem;
        padding-bottom:2rem;
        line-height: 148%;
    }
    &__button{
        font-size:$text-small-big;
        letter-spacing: 4px;
        padding: 0.7rem 2rem 0.7rem 2.4rem;
        width:auto;
        transition:background-color .2s;
        text-decoration: none;
        
        &:hover{
            background-color: $color-purple;
        }
        @include respond('tab-port'){
            font-size: $text-small-med-med-med;
            letter-spacing: 3px;
        }
    }
    &__image{
        width:100%;
        max-height: 50rem;
        object-fit: cover;
        object-position: top;
        // filter: drop-shadow(30px 10px 4px $color-purple);
    }
}