@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-Black.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-BlackItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
    size-adjust: 180%
    
}
@font-face{
    font-family: 'Morganite';
    src: url(../fonts/Morganite-Bold.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
    size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: bold;
    size-adjust: 180%
    
  
}
@font-face{
    font-family: 'Morganite';
    src: url(../fonts/Morganite-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    size-adjust: 180%
    
}
@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-LightItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
    size-adjust: 180%
    
}
@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
    size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-MediumItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: normal;
    size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-Thin.ttf) format('truetype');
    font-style: normal;
    font-weight: 100;
    size-adjust: 180%
    
}