@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-Black.woff) format('woff');
    font-style: normal;
    font-weight: normal;
    //size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-BlackItalic.woff) format('woff');
    font-style: italic;
    font-weight: bold;
    //size-adjust: 180%
    
}
@font-face{
    font-family: 'Morganite';
    src: url(../fonts/Morganite-Bold.woff) format('woff');
    font-style: italic;
    font-weight: bold;
    //size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-BoldItalic.woff) format('woff');
    font-style: italic;
    font-weight: bold;
    //size-adjust: 180%
    
  
}
@font-face{
    font-family: 'Morganite';
    src: url(../fonts/Morganite-Light.woff) format('woff');
    font-style: normal;
    font-weight: normal;
    //size-adjust: 180%
    
}
@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-LightItalic.woff) format('woff');
    font-style: italic;
    font-weight: normal;
    //size-adjust: 180%
    
}
@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-Medium.woff) format('woff');
    font-style: normal;
    font-weight: normal;
    //size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-MediumItalic.woff) format('woff');
    font-style: italic;
    font-weight: normal;
    //size-adjust: 180%
    
}

@font-face{
    font-family: 'Morganite';
    src:url(../fonts/Morganite-Thin.woff) format('woff');
    font-style: normal;
    font-weight: 100;
    //size-adjust: 180%
    
}

// @font-face{
//     font-family: 'Morganite';
//     src:url(../fonts/Morganite-Black.ttf) format('truetype');
//     font-style: normal;
//     font-weight: 100;
//     size-adjust: 100%
    
// }