.heading{
    &-primary{
        text-transform: uppercase;
        color: $color-black;
        @include text-standard($text-h1);
        font-weight: 800;
        line-height: 75%;
    }
}

.h-2{
    display:inline-block;
    font-weight: 600;
    font-size:4rem;
    text-transform: uppercase;
}

.h-3{
    display:inline-block;
    font-weight: 600;
    font-size:$text-small-med;
    text-transform: uppercase;
}

.text{
    text-transform: uppercase;
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-align: center;
    &--top,
    &--main{
        display: inline-block;
    }

    &--top{
        color: $color-orange;
        font-size: $text-small;
        padding-bottom:.1rem;
    }
    &--main{
        color: $color-light;
        font-size:$text-med-small;
        font-weight: 600;
        transform: scale(1, 1.2);
        letter-spacing: -0.1rem;
    }
}
