.u-center-text{
    text-align: center;
}

.u-width-medium{
    width:30rem;
}

.u-text-block{
    display:block;
}

.u-section-title{
    padding:5rem;
}

.u-left-padding-zero{
    padding-left:0;
}

.u-padding-top-med{
    padding-top: 5rem;
}
.u-padding-bottom-med{
    padding-bottom: 15rem;
}