.u-center-text{
    text-align: center !important;
}
.u-left-text{
    text-align: start !important;
}
.u-width-medium{
    width:30rem !important;
}
.u-text-block{
    display:block !important;
}
.u-section-title{
    padding:5rem !important;
}
.u-left-padding-zero{
    padding-left:0 !important;
}
.u-padding-top-med{
    padding-top: 5rem !important;
}
.u-padding-bottom-sm{
    padding-bottom:5rem !important;
}
.u-padding-bottom-med{
    padding-bottom: 15rem !important;
    @include respond('phone-med'){
        padding-bottom: 7rem !important;
    }
}
.u-padding-top-btm-med{
    padding:5rem 0 !important;
}
.u-padding-top-btm-lg{
    padding:15rem 0 !important;
}
.u-padding-min{
    padding:1rem !important;
}
.u-ff-helvetica{
    font-family: 'helvetica' !important;
    letter-spacing: 1px !important;
    font-weight: 400 !important;
    font-size:1.8rem !important;
} 
.u-center-div{
    margin:0 auto !important;
}
.u-mw-130{
    max-width: 130rem !important;
}
.u-mw-80{
    max-width: 80rem !important;
}
.u-inherit-background{
    background-color: inherit !important;
}
.u-round-edges{
    border-radius: 20px;
}
.u-content-layer{
    position: relative !important;
    z-index: $z-content-layer;
}
.u-flex-column{
    display:flex;
    flex-direction: column;
    &--center{
        justify-content: center;
        align-items: center;
    }
}
.u-flex-row{

}
.u-image-cover-top-mh50{
    display: inline-block;
    width:100%;
    max-height: 50rem;
    object-fit: cover;
    object-position: top;
}
.u-margin-top{
    margin-top: 5rem !important;
}
.u-margin-top-mid{
    margin-top:10rem !important;
}