.blog{
    .header{
        overflow: visible;
        background-color:$color-green;
        padding-top:2rem;
        padding-bottom:7rem;
        .menu{
            align-items: center;
        }
    }

    .section-blog-description{
        background-color: $color-light;
        padding:20rem 0;
        overflow: hidden;

        @include respond('tab-land'){
            padding:14rem 0;
        }

        .paragraph{
            &:not(:last-child){
                padding-bottom: 2rem;
            }
        }

        &__wave-top-left{
            position:absolute;
            top:-17%;
            left:0;
            @include respond('phone'){
                top:-2%;
                width:35rem;
            }
            @include respond('phone-med'){
                width:25rem;
            }
        }
        &__wave-bottom-right{
            position:absolute;
            bottom:-15%;
            right: 0;
            @include respond('phone'){
                width:35rem;
                bottom:-4%;
            }

        }
    }

    .section-blog{
        position:relative;
        background-color: $color-green;
        padding-top:15rem;
        margin-bottom: -1rem;

        @include respond('phone'){
            padding-top:9rem;
        }

        .content-items__decorative-text{
            &::before{
                border-bottom:1px solid $color-purple;
            }
        }
        .content-items__text{
            color:$color-purple;
        }
        .notch-title{
            border-radius: 20px;
        }
    }
    .footer{
        background-color: $color-green;
    }
}

