.case-studies{
    & .header{
        overflow: visible;
        padding-top:2rem;
        padding-bottom:0px;
        @include respond('tab-port'){
            padding-top: 2rem;
        }
        @include respond('tab-generic'){
            padding-top:1.5rem;
        }
    }
}
//Main
.study-content{
    &__main{
        .paragraph__content{
            line-height: 160%;
        }
    }

    .paragraph{
        &__title{
            @include respond('phone-med'){
                letter-spacing: 2px;
                font-size:$text-small-med-med-med;
            }
        }
        &__content{
            @include respond('phone'){
                font-size:$text-small-med-med !important;
            }
        }
    }
}

.section-brief{
    padding:10rem 15rem;
    padding-top:14rem;

    background-color: $color-light;
    @include respond('tab-port'){
        padding:10rem 4rem;
    }
    @include respond('phone-med'){
        padding:5rem 2rem;
    }
    &__orange-wave{
        position: absolute;
        top:-1rem;
        left:0;

        &--img{
            width: 110%;
            height: auto;
        }
    }
}

.section-testimonial{
    background-color: $color-light;
    padding:10rem 25rem;
    @include respond('big-laptop'){
        padding:10rem 4rem;
    }
    @include respond('phone'){
        padding: 2rem 2rem 10rem 2rem;
    }
    .quote{
        padding-top:1rem;
        padding-bottom:1rem;
    }
}
.section-separator{
    padding:10rem 15rem;
    background-color: $color-light;
    @include respond('big-laptop'){
        padding:10rem 4rem;
    }
    @include respond('phone'){
        padding:10rem 2rem;
        padding-top:5rem;
    }
}

.section-case-study-gallery{
    background-color: $color-light;
    padding: 0 10rem;

}

.view-more-projects-section{
    position:relative;
    background-color: $color-green;
    //padding:20rem 0;

    &__button{
        transition:background-color .2s;
        &.button{
            padding:0.7rem 2.6rem;
        }

        & .button__text{
            font-size: $text-small;
            letter-spacing: 4px;
        }
        &:hover{
            background-color:$color-purple;
        }
    }
    &__wave{
        width:100%;
        position:absolute;
        bottom:0;
        left:0;
        z-index: $z-background-layer;
        transform:translateY(99%);
    }
}

