.services{
    &__header-wave{
        width: 100%;
        height: 100%;
        display:inline-block;
        position:absolute;
        bottom:0;
        left:0;
    }
    .header{
        overflow: visible;
        position:relative;
        padding:5rem 10rem 15rem 10rem;

        .navigation__link{
            color:$color-white;
            &:hover{
                color:$color-orange;
            }
        }
        .menu{
            align-items: center;
            position:relative;
        }
        @include respond('tab-generic'){
            padding:1rem 10rem 8rem 1rem;
        }
        @include respond('phone-sm-sm'){
        }
    }

    .section-services{
        background-color: $color-light;
        padding-top:3.7rem;
        padding-bottom:20rem;
    
        .logos{
            margin-top:12rem;

            @include respond('laptop'){
                margin-top:5rem;
            }

            &__slide{
                animation:8s spin-fix linear infinite;
            }
        }
    
        .zigzag-container{
            padding-right:8rem;
            padding-left:12rem;
            margin-top:10rem;

            &__item{
                &-presentation{
                    min-width:none;
                }
                &-description{
                    min-width: 36%;
                    @include respond('tab-generic'){
                        min-width: 33%;
                    }
                }

                @include respond('phone'){
                    &:not(:last-child){
                        padding-bottom: 10rem;
                    }
                }
            }

            .text-normal--description{
                max-width: none;
            }
            @include respond('tab-generic'){
                padding-right:5rem;
                padding-left:5rem;
            }

            @include respond('phone'){
                & .card{
                    width: 45vw;
                }
            }
        }
    }

    .section-clients{
        background-color: $color-purple;

        .notch-title{
            background-color: $color-purple;
        }
    }

    .section-testimonials{
        background-color: $color-light;
        padding:16rem 0 8rem 0;

        @include respond('phone-med'){
            padding:10rem 0 3rem 0;
        }
        
        .quote{
            max-width: 80rem;
            margin:0 auto;
            @include respond('tab-generic'){
                max-width: 62rem;
            }
            @include respond('phone'){
                max-width: 90vw
            }
            @include respond('phone-med'){
                //max-width: 46rem;
            }
        }
    }
}



